In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r"C:\Users\Zachary_B\Desktop\dataset\data-export (1).xlsx")

In [3]:
df

     # ---------------------------------------- Unnamed: 1
0                           # Report CSV Export        NaN
1                 # Account: Dataset Nexus Tech        NaN
2                  # Property: DatasetNexusTech        NaN
3    # ----------------------------------------        NaN
4                                           #          NaN
..                                          ...        ...
214                                         115          0
215                                         116          0
216                                         117          0
217                                         118          0
218                                         119          0

[219 rows x 2 columns]

In [4]:
df.column

AttributeError: 'DataFrame' object has no attribute 'column'