In [1]:
# importing neccessary packages
import pandas as pd
import numpy as np
from datetime import date,datetime
import matplotlib.pyplot as plt

In [2]:
# importing dataset
df=pd.read_csv("C:\\Users\\Zachary_B\\Desktop\\dataset\\Datasetnexustech Education_ Customer_Data_Details .csv")

In [3]:
df.shape

(24, 30)

In [4]:
# returns the first five values of the dataset
df.head()

,Submitted,First Name,Last Name,Email Address,Gender,Marital Status,Converted,Location,Postal Address,Employment Status,...,Programme of Interest,Level of IT Experience,What is your main motivation for enrolling in the programme?,What are the challenges you've experienced while trying to meet the above stated goal(s)?,What can we do to help you overcome these challenges?,Employment Preferences,Monthly Salary Expectations (in Naira),What is your short term (2 years) career goal?,What is your mid-term (2 - 5 years) career goal?,What is your long term (5+ years) career goal?
0,2022-05-12 15:06:53,Miracle,Obiekwe,miracleobiekwe@yahoo.com,Male,Single,NO,Enugu State,<p>Nigeria prisons barracks enugu state comman...,Self employed / Business Owner,...,Data Science,Intermediate ( 2 - 5 years ),<p>That I can do all things through Christ tha...,<p>Coding is my challenge.. I have tried it be...,<p>I need maximum attention and guidance</p>\n,Foreign Employment,2.5million,<p>To be a consultant in the field of data sci...,<p>Empowering children from the street to stud...,<p>To be the best across the globe</p>\n
1,2022-04-06 20:41:29,Ibilola,Shobanke,lolashobanke@gmail.com,Female,Married,NO,Oyo State,"<p>3 Fafunlayo Layout, Iwo Road, Ibadan </p>\n",Employed,...,Data Analytics,Beginner ( 0 - 2 years ),<p>For self development and to increase my cha...,<p>N/A</p>\n,<p>N/A</p>\n,Foreign Employment,"N2,000,000",<p>Becoming a genius in data analytics and hav...,<p>To become diverse in the other aspects of t...,NaN
2,2022-04-06 12:22:57,Damilola,Oseni,dammygeorge5050@gmail.com,Female,Married,NO,FCT,"<p>1 EMMANUEL NTUK, GOSHEN VILLA ESTATE, LUGBE...",Employed,...,Data Analytics,Beginner ( 0 - 2 years ),<p>Knowledge </p>\n,<p>Fear of failing<br />\nBudget<br />\nLack o...,<p>Give Feedbacks on how I can improve</p>\n,Local Employment,"100,000",<p>Successful implementation of what I have le...,<p>To work in an organization</p>\n,NaN
3,2022-04-06 9:30:50,Kabir,Salawudeen,salawudeenkabeer@gmail.com,Male,Married,NO,FCT,"<p>23, Angwar Siyawa Abuja Nigeria</p>\n",Employed,...,Full-Stack Software Development,Advanced ( 5 years and above ),<p>One of your student got a good and well pay...,<p>Network challenges and at times work relate...,<p>If I can have a full knowledge in becoming ...,Foreign Employment,"300,000.00",<p>1.Earn a new certificate or degree.<br />\n...,<p>Start a personal project.</p>\n,<p>1. Get familiar with new technology.<br />\...
4,2022-04-05 14:40:24,Bashir,Hussain,uniquebash@gmail.com,Male,Married,NO,FCT,"<p>Plot 785 Herbert Macaulay Way, CBD Abuja</p>\n",Employed,...,Data Analytics,Advanced ( 5 years and above ),<p>To start a career path on technology </p>\n,<p>Interest </p>\n,<p>Enrolment </p>\n,Foreign Employment,"500,000.00",<p>To obtain basic certification on technology...,<p>To obtain multiple certifications on techno...,<p>To be a reference point in technology </p>\n

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 30 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Submitted                                                                                  24 non-null     object
 1   First Name                                                                                 24 non-null     object
 2   Last Name                                                                                  24 non-null     object
 3   Email Address                                                                              24 non-null     object
 4   Gender                                                                                     24 non-null     object
 5   Marital Status                                                                             24 non-null     object
 6   Converted                                                                                  23 non-null     object
 7   Location                                                                                   24 non-null     object
 8   Postal Address                                                                             13 non-null     object
 9   Employment Status                                                                          24 non-null     object
 10  Personal Interests                                                                         24 non-null     object
 11  What Social Media do you use?                                                              24 non-null     object
 12  What is your primary objective/goal for enrolling in this programme?                       24 non-null     object
 13  What is your secondary objective/goal for enrolling in this programme?                     20 non-null     object
 14  What can we do to help you achieve the above stated goal(s)?                               24 non-null     object
 15  How you determine the achievement of above stated goal(s)?                                 24 non-null     object
 16  Phone Number                                                                               24 non-null     int64
 17  Date of Birth                                                                              24 non-null     object
 18  Education                                                                                  24 non-null     object
 19  Profession                                                                                 23 non-null     object
 20  Programme of Interest                                                                      24 non-null     object
 21  Level of IT Experience                                                                     22 non-null     object
 22  What is your main motivation for enrolling in the programme?                               24 non-null     object
 23  What are the challenges you've experienced while trying to meet the above stated goal(s)?  24 non-null     object
 24  What can we do to help you overcome these challenges?                                      24 non-null     object
 25  Employment Preferences                                                                     22 non-null     object
 26  Monthly Salary Expectations (in Naira)                                                     22 non-null     object
 27  What is your short term (2 years) career goal?                                             22 non-null     object
 28  What is your mid-term (2 - 5 years) career goal?                                           22 non-null     object
 29  What is your long term (5+ years) career goal?                                             19 non-null     object
dtypes: int64(1), object(29)
memory usage: 5.8+ KB

In [6]:
# Use df.columns command to drop columns via indexing
df2 = df.drop(df.columns[[0,3,8,12,13,14,15,16,22,23,24,28,29]], axis=1)

In [7]:
df2.columns

Index(['First Name', 'Last Name', 'Gender', 'Marital Status', 'Converted',
       'Location', 'Employment Status', 'Personal Interests',
       'What Social Media do you use?', 'Date of Birth', 'Education',
       'Profession', 'Programme of Interest', 'Level of IT Experience',
       'Employment Preferences', 'Monthly Salary Expectations (in Naira)',
       'What is your short term (2 years) career goal?'],
      dtype='object')

In [8]:
df2['Engaged'] = df2['Converted'].apply(lambda x: 1 if x == 'Yes' else 0)

In [9]:
df2['Engaged'].mean()*100

62.5

In [10]:
def age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
  
df2['Age'] = df2['Date of Birth'].apply(age)

In [11]:
continuous_features = [
    'Age'
]

In [20]:
# If you look closely at the data, the following variables are categorical variables and they take different values:
columns_to_encode = [
   'Marital Status', 'Employment Status', 'Education',
]

# we create dummy variables for each category of individual categorical variables, using the get_dummies function from the pandas package. 
categorical_features = []
for col in columns_to_encode:
    encoded_df = pd.get_dummies(df2[col])
    encoded_df.columns = [col.replace(' ', '.') + '.' + x for x in encoded_df.columns]
    
    categorical_features += list(encoded_df.columns) 
    
    df2 = pd.concat([df, encoded_df], axis=1)

In [21]:
# we are going to create one variable that contains information about the gender of a given record.
df['Is.Female'] = df['Gender'].apply(lambda x: 1 if x == 'F' else 0)
categorical_features.append('Is.Female')

In [22]:
# cleaning up in our data. Take a look at the following code: 
all_features = continuous_features +  categorical_features
Converted = 'Engaged'

In [23]:
all_features

['Age',
 'Marital.Status.Married',
 'Marital.Status.Single',
 'Employment.Status.Employed',
 'Employment.Status.Self employed / Business Owner',
 'Employment.Status.Unemployed',
 'Education.Bachelor&#039;s Degree',
 'Education.HND',
 'Education.Masters',
 'Education.NCE',
 'Education.SSCE',
 'Is.Female']

In [29]:
# As you can see from this code, we are creating a new DataFrame sample_df, which contains all the features, all_features
# and the response variable, response. Then, we are cleaning up the column and feature names by replacing all the spaces 
# in the names with dots. After these cleanups, DataFrame sample_df

sample_df = df2[all_features + [[Converted]]
sample_df.columns = [x.replace(' ', '.') for x in sample_df.columns]
all_features = [x.replace(' ', '.') for x in all_features]

SyntaxError: invalid syntax (<ipython-input-29-9448d57f895e>, line 6)